<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPkQ5QsewLUId1Fmt5r1C9dRdEf3WI5io</string>
	<key>GCM_SENDER_ID</key>
	<string>1094465239448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.projetmobile</string>
	<key>PROJECT_ID</key>
	<string>forum-7586f</string>
	<key>STORAGE_BUCKET</key>
	<string>forum-7586f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094465239448:ios:1d9d207a6a9820a78d93ed</string>
</dict>
</plist>